/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

h2 {
    margin-bottom: 30px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d8bdf8; /* Choose your desired background color */
    color: #ffffff; /* Text color */
    padding: 10px 15px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    border: none;
    cursor: pointer;
    z-index: 9999; /* Ensure the button stays on top of other elements */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.scroll-to-top:hover {
    background-color: #f5f5f5; /* Change background color on hover */
}
